
*.obj
*.tlog
*.ipch
*.log
*.pdb
*.~@FFSKIN
*.~@FFFUB
*.Anim
*.json
*.sk
*.fbx
*.recipe
*.ilk
*.idb
*.ipdb
*.iobj
*.exe
*.exp
*.lib
*.txt
/TestData
.vs/parseFBX/v16/Browse.VC.opendb
.vs/parseFBX/v16/Browse.VC.db-wal
.vs/parseFBX/v16/Browse.VC.db-shm
.vs/parseFBX/v16/Browse.VC.db
.vs/parseFBX/v16/.suo
parseFBX/parseFBX.vcxproj.user
x64/Debug/2024-01-25-18-56-52_rep.bin
parseFBX/parseFBX.vcxproj.user
parseFBX/parseFBX.vcxproj.user
*.FBX
*.FBX
*.FBX
